body {
    padding: 0;
    margin: 0;
    max-width: 350px;
    min-width: 150px;
}

.inputText {
    display: grid;
}

input {
    margin: 5px;
    padding: 20px;
    max-width: 100%;
    min-width: 50%;
    font-size: 45px;
    border-radius: 25px;
    box-shadow: orange;
    border: solid blue 2px;
}