body {
    padding: 0;
    margin: 0;
    width: 250px;
}

input {
    margin: 5px;
    padding: 20px;
    width: 100%;
    min-width: 50%;
    font-size: 45px;
    border-radius: 25px;
    box-shadow: orange;
    border: solid blue 2px;
}